@import url('https://fonts.googleapis.com/css?family=Lato');

/* entire */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

main {
  padding: 20px;
}

main::after {
  display: block;
  content: '';
  clear: both;
}

main h1 {
  margin: 20px 0;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

/* calendar */

.calendar {
  float: left;
  border: 3px solid #042C54;
  border-bottom: 2px solid #042C54;
}

.calendar__table  {
  width: 220px;
  border-collapse: collapse;
}

.calendar__table thead {
  background-color: #042C54;
  color: white;
}

.calendar__table thead .calendar__date {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  font-weight: normal;
  vertical-align: middle;
}

.calendar__table thead .calendar__date .calendar__date--move {
  cursor: pointer;
}

.calendar__table thead .calendar__day {
  height: 20px;
  line-height: 20px;
  font-size: 10px;
  font-weight: thin;
  vertical-align: middle;
}

.calendar__table tbody tr {
  border: 2px solid #ffffff;
}

.calendar__table tbody td {
  width: 30px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.calendar__current--not {
  color: lightgray;
}
.calendar__period {
  background-color: #ededed;
}

.calendar__table tbody .checked {
  height: 26px;
  box-shadow: 0 0 10px #4c9be0 inset;
  background-color: #a8cded;
  color: inherit;
}

/* datepicker */

.datepicker {
  display: inline-block;
  width: 180px;
  margin-left: 33px;
}

.datepicker p {
  margin: 0 0 10px 0;
}

.datepicker__wrapper {
  position: relative;
  width: 170px;
  height: 40px;
  margin-bottom: 20px;
  border: 1px solid #cecece;
  border-radius: 2px;
}

.datepicker__wrapper .datepicker__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.datepicker__wrapper .datepicker__input {
  width: 168px;
  height: 38px;
  padding: 0 10px;
  border: none;
  font-size: 15px;
}

.datepicker__wrapper .datepicker__input:disabled {
  background-color: #cecece;
  cursor: not-allowed;
}

.datepicker__wrapper .datepicker__btn {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 50px;
  height: 28px;
  margin-top: -11px;
  padding-right: 5px;
  background-color: white;
  text-align: right;
  pointer-events: none;
}

.datepicker__wrapper .datepicker__btn--disalbed {
  background-color: #cecece;
}

.datepicker__wrapper .datepicker__btn button {
  border: none;
  background: transparent;
  color: #cecece;
}

.alert {
  width: 120px;
  height: 34px;
  margin-top: 30px;
  margin-left: 50px;
  border: none;
  background-color: #0e7cd6;
  font-size: 15px;
  color: #ffffff;
}

/* breakdown */

.breakdown {
  margin-top: 50px;
}
.breakdown .breakdown__heading {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 20px 0 0 ;
  font-size: 23px;
  font-weight: bold;
  vertical-align: middle;
}

.breakdown .breakdown__reset {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 25px;
  border: none;
  background-color: #ef2828;
  font-size: 15px;
  color: #ffffff;
  vertical-align: top;
}

.breakdown .breakdown__div p {
  margin: 10px 0;
  font-size: 15px;
}